#background-wrap {
  background: #777777;
  color: #333;
  font: 100% Lato, Arial, Sans Serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
/* OBJECTS */

img {
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  border-radius: 1%;
  height: 150px;
  position: relative;
  width: 150px;
  filter: brightness(40%);
  filter: grayscale(100%);

}

/* The Transformation */
img:hover {
  filter: brightness(100%);
  transform: scale(2);
  z-index: 1;
  transition: transform 0.5s, filter 1.5s ease-in-out;

}