
    <div
      id="background-wrap"
      fxLayout="column wrap"
      fxLayoutAlign="space-evenly start"
    >
      <div *ngFor="let collegue of fileUploads; let i = index">
          <img [src]="collegue.url" />
    </div>
</div>