@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

::selection {
  background: transparent;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1px;
  font-family: 'Amatic SC', cursive !important;
}
.margin{
  margin: 20px;
}
.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
  color: #013243; /*SHERPA BLUE*/
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: translate(-50%,-50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
  transition: 1s;
}

button {
  position: absolute;
  bottom: 2%;
  left: 45%;
}

#qrimage{
  width: 150px;
  position: relative;
  left: 10%;
}

.card:hover {
  transform: translate(-50%,-50%) perspective(3000px) rotate(5deg) scale(1.2);
  box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
  content:'';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #BAC1BA;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.card:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #92A29C;
  transform-origin: left;
  transform: skewY(-45deg);
}

.card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: .7s;
}

.card .bark {
  position: absolute;
  background: #e0e1dc;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .7s;
}

.card .imgBox img {
  min-width: 300px;
  max-height: 400px;
}
img{
  height: 100%;
}
.card:hover .imgBox {
  transform: rotateY(-135deg);
}

 .qr-toggle-btn{
   z-index: -1;
 }
 .contact{
   text-align: center;
 }

.card:hover .bark {
  opacity: 1;
  transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  z-index: -1;
  margin-top: 25px;
}

.card .details p {
  font-size: 14px;
  line-height: 10px;
  transform: rotate(-0deg);
  padding: 0 0 0 20px;
}

.card .details h4 {
  text-align: center;
  padding: 5px;
}

.text-right {
  text-align: right;
}