 <div class="card" *ngIf="showBook">
    <div class="imgBox">
      <div class="bark">

      </div>
      <img src="../../assets/images/me2.jpg">
    </div>
    <div class="details" *ngIf="!showQr">
      <p>Calls will be less, </p>
      <p>Escalations will be missed..</p>
      <p>Releases are 404 !!</p>
      <p>Yes! I am leaving Infy...!!</p>
      <p>TT Pros, Gymboys, Geeks, Artists, </p>
      <p>and to all those whom I crossed paths,</p>
      <p>I will definitely miss you all !!</p>
      <p>Be safe and Take care :)</p>
      <h4 class="color1">Thank you Team</h4>
      <h4 class="color2 margin">Keep in touch!!!</h4>
      <p>Signing off withlove, </p>

      <p class="text-right">- Gopalakrishnan (1038352)</p>

    </div>
    <div class="details contact" *ngIf="showQr">
      <p>+91 7736346646</p>
      <p>gopalakrishnan1505@gmail.com</p>
      <p>gopalakrishnan-pv.web.app</p>
      <img id="qrimage" src="../../assets/images/qr.png">
    </div>
    <button class="btn btn-danger btn-sm qr-toggle-btn" (click)="showQr=!showQr">TOGGLE CONTACT</button>

  </div>

        <button class="btn btn-warning" (click)="toggleBook()">TOGGLE BOOK</button>


