<!-- <app-flipbook></app-flipbook>
<app-bubble-image></app-bubble-image>
<app-uploader></app-uploader> -->
<router-outlet></router-outlet>

<a routerLink="/home">Home </a><br>
<a routerLink="/uploader">Uploader</a>